

@import url('https://fonts.googleapis.com/css?family=Roboto');



.signup-form {
  /* font-family: "Roboto", sans-serif; */
  width:550px;
  margin:30px auto;
  background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
}

/*---------------------------------------*/
/* Form Header */
/*---------------------------------------*/
.form-header  {
  background-color: #EFF0F1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-header h1 {
  font-size: 30px;
  text-align:center;
  color:#666;
  padding:20px 0;
  border-bottom:1px solid #cccccc;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.form-body {
  padding:10px 40px;
  color:#666;
}

.form-group{
  margin-bottom:20px;
}

.form-body .label-title {
  color:#1BBA93;
  font-size: 17px;
  font-weight:bold;
}

.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

.login-form .form-footer  {
  background-color: #EFF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:10px 40px;
  text-align: left;
  border-top: 1px solid #cccccc;
  clear:both;
}

body {
    font-family:Arial, Helvetica, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    display:grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  } 

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border:#000000;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
  }

  button:hover {
    background-color: #1d1f1d;
  }
  
  .button-login {
    background-color: #4caf50;
    color: white;
    padding: 8px 150px;
    border:#000000;
    border-radius: 5px;
    cursor: pointer;
  }
  
