


@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    /* font-family: 'Arial', sans-serif; */
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
}

.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    min-width: 200px;
}

.sidebar h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    font-size: 1rem;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    /* padding: 20px; */
    flex: 1;
}

h1, h2 {
    color: #000000;
}

/* Homepage specific styles */
#welcomeMessage {
    font-size: 1.5rem;
}

/* Table styles */
table {
    border-collapse: collapse;
    /* width: 100%; */
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    /* border-radius: 5px; */
}

th {
    background-color: #f2f2f2;
    /* border-radius: 5px; */
}

/* Form styles */
form {
    max-width: 400px;
    margin: 0 auto;
    color: #000;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    /* width: 100%; */
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 10px;
   
} 

button {
    background-color: #333;
    color: #ffffff;
    /* border: none; */
    cursor:pointer;
    border-radius: 10px;
    

}

button:hover {
    background-color: #bb4c4c;
}

#applyFilterBtn {
    background-color: #090909;
    border-radius: 10px;
    /* width: 70px; */
    margin-left: 2px;
    padding: 9px;
    
}

#applyFilterBtn:hover {
    background-color: #5c5c5c;
}

#salesButton {
    color: white;
    background-color: #090909;
    border-radius: 10px;
    /* width: 70px; */
    margin-left: 2px;
    padding: 9px;
    
}

#salesButton:hover {
    background-color: #5c5c5c;
}

 #edit {
    background-color: #285ee9;
    border-radius: 10px;
    width: 70px;
    margin-left: 2px;
    
}

#edit:hover {
    background-color: #6581c2;
}

#delete {
    background-color: #dd3647;
    border-radius: 10px;
    width: 70px;
}

#delete:hover {
    background-color: #d17070;
} 




/* #update {
    background-color: #1f1c1c;
}

#update:hover {
    background-color: #423838;
}

#submit {
    background-color: #38e485;
   
}

#submit:hover {
    background-color: #78ca7c;
} */



#employeeTable {
    width:auto;
    /* display: none; */
    border-collapse: collapse;
    /* border:5px solid black; */
    /* background-color: #cbdced; */
  }
  
  th, td {
    border:1px solid #000000;
    padding: 8px;
    color: #000;
    /* border-radius: 5px; */
    
  }

   /* tr:nth-child(even){
    background-color: #abffdb;

  }
   tr:nth-child(odd){
    background-color: #9ee8c8;

  } */
   tr:hover{
    background-color: #ABFFDB;

  }
   th {
    /* margin-top: 5px; */
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    /* border-radius: 5px; */
  }

  .table-container th {
    
    background-color: #213d55;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    border: #000;
    
  }

  .table-container td {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 18px;    
    
  }



  p {
    color: #000;
  }

 